<div class="col-12">
  <div class="card">
    <form [formGroup]="colorUpdateForm">
      <h5>Renk Güncelle</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
          <label>Renk Adı</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            pInputText
            class="p-input"
          />
        </div>
      </div>

      <button
        (click)="update()"
        type="submit"
        [routerLink]="['/renkler']"
        class="p-button p-button-primary p-mt-2"
        style="border-radius: 10px"
      >
        Güncelle
      </button>
    </form>
  </div>
</div>
