<div class="col-12">
  <div class="card">
    <form [formGroup]="brandAddForm">
      <h5>Marka Ekle</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
          <label>Marka Adı</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            pInputText
            class="p-input"
          />
        </div>
      </div>
      <button
        (click)="add()"
        type="submit"
        [routerLink]="['/markalar']"
        class="p-button p-button-primary p-mt-2"
        style="border-radius: 10px"
      >
        Ekle
      </button>
    </form>
  </div>
</div>
