<form [formGroup]="caravanAddForm">
  <div class="card p-fluid">
    <h4>Caravan Ekle</h4>
    <div class="p-formgrid grid">
      <label>Marka</label>
      <select formControlName="brandId" [(ngModel)]="selectedBrandId">
        <option *ngFor="let brand of brand" [value]="brand.id">
          {{ brand.name }}
        </option>
      </select>
    </div>
    <br />
    <div class="p-formgrid grid">
      <label>Renk</label>
      <select formControlName="colorId" [(ngModel)]="selectedColorId">
        <option *ngFor="let color of color" [value]="color.id">
          {{ color.name }}
        </option>
      </select>
    </div>
    <br />
    <div class="p-fromgrid grid">
      <label>Karavan Adı</label>
      <input type="text" id="name" formControlName="name" />
    </div>
    <br />
    <div class="p-formgrid grid">
      <label>Model Yılı</label>
      <input type="number" id="modelYear" formControlName="modelYear" />
    </div>
    <br />
    <div class="p-formgrid grid">
      <label>Fiyat</label>
      <input type="number" id="dailyPrice" formControlName="dailyPrice" />
    </div>
    <br />
    <div class="p-formgrid grid">
      <label>Açıklama</label>
      <input type="text" id="description" formControlName="description" />
    </div>
    <button (click)="add()" type="submit">Ekle</button>
  </div>
</form>
