<div class="col-12">
  <div class="card">
    <form [formGroup]="brandUpdateForm">
      <h5>Marka Güncelle</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12">
          <label for="name">Marka Adı</label>
          <input formControlName="name" id="name" class="form-control" />
        </div>
      </div>

      <button
        (click)="update()"
        type="submit"
        [routerLink]="['/markalar']"
        class="p-button p-button-primary p-mt-2"
        style="border-radius: 10px"
      >
        Ekle
      </button>
    </form>
  </div>
</div>
